[submodule "wireframe/submodules/kirby"]
	path = wireframe/submodules/kirby
	url = https://github.com/getkirby/kirby
[submodule "wireframe/submodules/sass-boilerplate"]
	path = wireframe/submodules/sass-boilerplate
	url = https://github.com/DerZyklop/sass-boilerplate
