[submodule "submodules/kirby"]
  path = submodules/kirby
  url = https://github.com/getkirby/kirby.git
[submodule "submodules/sass-boilerplate"]
	path = submodules/sass-boilerplate
	url = https://github.com/DerZyklop/sass-boilerplate.git
